/* ...........sidebar css starts here............. */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000;
    top:4rem;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/back.jpg');
  }
  /* ...........sidebar css ends here............. */
 

  /*Home page css starts here*/
.home-div{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../image/wall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
    display: grid;
    place-content: center;
    width: auto;
}
.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.home-para{
    margin-left: 260px;
}
/*.....................Home page css ends here.............*/


 /* ..................About us page css stsrts here................ */
.about{
    margin-left: 70px;
    margin-top: 50px;
}
.a-para{
    margin-left: 5rem;
}
/* ..................About us page css ends here................ */
  .about-div{
      height: 130vh;
      width: 82.65vw;
      margin-left: 220px;
      margin-top: 72px;
  }
  .aboutus,.contactus{
	width: 80%;
	height: 100vh;
	position: relative;
    padding: 80px 0;
    margin-left: 150px;
}
.aboutus,.contactus::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:-1;
}

.about-div{
    display: grid;
    place-content: center;
    height: 100vh;
    width: auto;
    margin-left: 220px;
}

/* 
.....................contact css starts here................ */
.form-button{
	border: 1px solid #28a745;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 53px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
	background: transparent;
}
.form-button:hover{
	color: #28a745;
}
form:hover .form-button{
	background: white;
	 color: #28a745;
	box-shadow: 0,0,20,0 rgba(0,0,0,0.3);
}
::placeholder{
	font-size: 0.85rem;
}
.c-para{
    font-size: 1.2rem;
}
.map{
    width: 80%;
    height: 100%;
    margin-left:50px;
    margin-top: 5px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*.....................contact us css ends here.............*/

.footer-div{
    width: 80%;
    height: auto;
    text-align: center;
    background-color:  #28a745;
    margin-top:300px;
    margin-left: 250px;
}

.popup-footer{
    text-align: center;
    background-color:  #28a745;
    margin-top:300px;
    margin-left: 250px;
}


/* media query */

/*.....................responsive code.................................*/
/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
    .nav-header{
        width: 930px;
    }
     .sidebar-container {
         position: fixed;
         width: 120px;
         height: 100%;
         left: 0;
         overflow-x: hidden;
         overflow-y: auto;
         background: #000;
         top:4rem;
         background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/back.jpg');
       }
      .home-div{
         display: grid;
         place-content: center;
         height: 100vh;
         width: 985px;
     }
       .home-para{
         margin-left: 100px;
     }
     h3{margin-left: 50px;
     font-size: 20px;}
 
     h1{font-size: 24px;
     margin-left: 60px;}
 
     .aboutus,.contactus{
         width: 80%;
         height: 100vh;
         position: relative;
         padding: 80px 0;
         margin-left: 50px;
         margin-top:100px;
     }
    .aboutus,.contactus::before{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index:-1;
     }  

 .about-div{
     display: grid;
     place-content: center;
     height: 100vh;
     width: auto;
     margin-left: 160px;
    }
    .a-para{margin-left: 120px;}
 .card{
     margin-left: 250px!important;
     margin-bottom: 10px;
 }
 .c-para{
     text-align: center;
     font-size: 1rem!important;
     margin-left: 180px !important;
 }
 
 form{
 margin-left: 70px!important;
 }
 .map{
     width: 50%;
     height: 100%;
     margin-left:60px;
 }
 .map-responsive{
     left:400;
     top:0;
     height:100%;
     width:70%;
     position:absolute;
 }
 .footer-div{
     width: 70%;
     height: auto;
     text-align: center;
     background-color:  #28a745;
     margin-top:500px;
     margin-left: 160px;
     font-size: 0.8rem;
 }

}
/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {
    .nav-header{
        width: 755px;
    }
     .sidebar-container {
         position: fixed;
         width: 120px;
         height: 100%;
         left: 0;
         overflow-x: hidden;
         overflow-y: auto;
         background: #000;
         top:4rem;
         background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/back.jpg');
       }
 
       .home-para{
         margin-left: 200px;
     }
     h3{margin-left: 60px;
     font-size: 16px;}
 
     h1{font-size: 24px;
     margin-left: 100px;}
 
     .aboutus,.contactus,.home{
         width: 80%;
         height: 100vh;
         position: relative;
         padding: 80px 0;
         margin-left: 50px;
         margin-top:100px;
     }
     .home,.aboutus,.contactus::before{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index:-1;
     }  
     .home-div{
         display: grid;
         place-content: center;
         height: 100vh;
         width: 755px;
     }
 .about-div{
     display: grid;
     place-content: center;
     height: 100vh;
     width: auto;
     margin-left: 160px;
 }
 .a-para{margin-left: 120px;}
 .card{
     margin-left: 100px!important;
     margin-bottom: 10px;
 }
 .c-para{
     text-align: center;
     font-size: 0.8rem!important;
     margin-left: 100px !important;
 }
 
 form{
 margin-left: 70px!important;
 }
 .map{
     width: 50%;
     height: 100%;
     margin-left:80px;
 }
 .map-responsive{
     left:400;
     top:0;
     height:100%;
     width:60%;
     position:absolute;
 }
 .footer-div{
     width: 70%;
     height: auto;
     text-align: center;
     background-color:  #28a745;
     margin-top:700px;
     margin-left: 160px;
     font-size: 0.8rem;
 }

}
/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 560px) {
   .nav-header{
       width: 550px;
   }
    .sidebar-container {
        position: fixed;
        width: 120px;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: #000;
        top:4rem;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/back.jpg');
      }

      .home-para{
        margin-left: 100px;
    }
    h3{margin-left: 60px;
    font-size: 16px;}

    h1{font-size: 16px;
    margin-left: 100px;}

    .aboutus,.contactus,.home{
        width: 80%;
        height: 100vh;
        position: relative;
        padding: 80px 0;
        margin-left: 50px;
        margin-top:100px;
    }
    .home,.aboutus,.contactus::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:-1;
    }  
    .home-div{
        display: grid;
        place-content: center;
        height: 100vh;
        width: 550px;
    }
.about-div{
    display: grid;
    place-content: center;
    height: 100vh;
    width: auto;
    margin-left: 160px;
}
.card{
    margin-left: 100px!important;
    margin-bottom: 10px;
}
.c-para{
    text-align: center;
    font-size: 0.8rem!important;
    margin-left: 70px !important;
}

form{
margin-left: 150px!important;
}
.map{
    width: 50%;
    height: 100%;
    margin-left:180px;
}
.map-responsive{
    left:400;
    top:0;
    height:100%;
    width:60%;
    position:absolute;
}
.footer-div{
    width: 62%;
    height: auto;
    text-align: center;
    background-color:  #28a745;
    margin-top:700px;
    margin-left: 160px;
    font-size: 0.8rem;
}
}